<section class="destination-header">
  <h1 class="blog-title">Destination</h1>
  <ul>
    <li><a href="/">Home</a></li>

    &bull;
    <li><a href="/destinations/destination" class="active">Destination</a></li>
  </ul>
</section>

<section class="destination-content">
  <div class="container destination-container">
    <ul class="destination-list">
      {{#each destinations}}
        <li>
          <a href="/destinations/{{_id}}/destination-details">
            <img src="{{imageUrl}}" alt="{{title}}" class="destination-image" />
            <div class="rating"> {{starRating rating}} ({{rating}}) </div>
            <h2> {{title}} </h2>
          </a>
        </li>
      {{/each}}

    </ul>
  </div>
</section>