
        <section class="destination-details-header">
            <h1>Destination details</h1>
            <ul>
                <li><a href="/">Home</a></li>
                &bull;
              
                <li>
                    <a href="/blog" class="active"> Destination Details </a>
                </li>
            </ul>
        </section>

        <section class="destination-details-content">
            <div class="container destination-details-container">
                <div class="destination-details-main">
                    <img src="{{destination.imageUrl}}" alt="{{destination.title}}"
                        class="destination-details-image" />
                    <div class="destination-details-info">
                        <div class="destination-sub-info">
                            <p class="rating-text"> {{destination.rating}} </p>
                            <p class="condition">Perfect</p>
                            <p class="type">Hotels</p>
                            <p class="bulding">Buldings</p>
                            <p class="value">Top Value</p>
                            <p class="rating">
                                {{starRating rating}}
                            </p>
                        </div>
                    </div>

                    <h2 class="destination-details-heading">
                       {{destination.title}}
                    </h2>

                    <div class="destination-taps">
                        <div class="destination-details-actions">
                            <button class="btn destination-details-btn">Description</button>
                            <button class="btn destination-details-btn">Features</button>
                            <button class="btn destination-details-btn">Virtual</button>
                            <button class="btn destination-details-btn">
                                Price history
                            </button>
                        </div>
                        <p class="description-details-text">
                            {{destination.description}}
                        </p>
                    </div>

                    <div class="hotel-features">
                        <h3 class="hotel-features-heading">Hotel Features</h3>
                        <ul class="hotel-features-list">
                            <li class="hotel-feature-item">
                                <ion-icon name="wifi"></ion-icon>
                                <p>Free Wi-Fi</p>
                            </li>
                            <li class="hotel-feature-item">
                                <ion-icon name="car-sport"></ion-icon>
                                <p>Free Parking</p>
                            </li>
                            <li class="hotel-feature-item">
                                <ion-icon name="water"></ion-icon>
                                <p>Swimming Pool</p>
                            </li>
                            <li class="hotel-feature-item">
                                <ion-icon name="restaurant"></ion-icon>
                                <p>Restaurant</p>
                            </li>
                            <li class="hotel-feature-item">
                                <ion-icon name="people"></ion-icon>
                                <p>Kids bed</p>
                            </li>
                        </ul>
                    </div>

                    <div class="destination-details-accordion">
                        <div class="accordion-item">
                            <h3 class="accordion-title">
                                What destination do you offer tours to?
                                <span>
                                    <ion-icon name="chevron-down"></ion-icon>
                                </span>
                            </h3>
                            <p class="accordion-content">
                                Arabian Park Hotel is a great choice for travellers looking
                                for a 3 star hotel in Dubai. It is located in Bur Dubai. This
                                Hotel stands out as one of the highly recom.2 kms, Al Wasl
                                Indoor Stadium (1.2 kms), Dubai Mall (5.4 kms), Jumeirah Beach
                                Park (9.6 kms) and Jumeirah Public Beach (15.8 kms).
                            </p>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-title">
                                What types of service do you provide?
                                <span>
                                    <ion-icon name="chevron-up"></ion-icon>
                                </span>
                            </h3>
                            <p class="accordion-content">
                                Arabian Park Hotel is a great choice for travellers looking
                                for a 3 star hotel in Dubai. It is located in Bur Dubai. This
                                Hotel stands out as one of the highly recom.2 kms, Al Wasl
                                Indoor Stadium (1.2 kms), Dubai Mall (5.4 kms), Jumeirah Beach
                                Park (9.6 kms) and Jumeirah Public Beach (15.8 kms).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="destination-details-aside">
                    <img src="{{destination.imageTwo}}" alt="{{destination.title}}" />
                    <img src="{{destination.imageThree}}" alt="{{destination.title}}" />

                    <div class="destination-details-aside-info">
                        <p class="destination-price">$102<span>/night $119</span> <span>20% Off</span> </p>
                        <form action="">
                            <div class="destination-details-aside-input">
                                <div>

                                    <label>Check-in</label>
                                    <input type="date" placeholder="Check-in" />
                                </div>
                                <div>

                                    <label for="">Check-out</label>
                                    <input type="date" placeholder="Check-out" />
                                </div>
                            </div>
                            <div class="destination-details-aside-input">
                                <div>
                                    <label for="">Guest</label>
                                    <input type="text" placeholder="Adults" />
                                    <input type="text" placeholder="Children" />
                                </div>
                            </div>

                            <div class="destination-details-extra">
                                <h4 for="">Extra Features</h4>
                                <div class="destination-details-input-box">
                                    
                                    <input type="checkbox" placeholder="Allow pets" />
                                    <label for="">Allow pets</label>
                                </div>
                                 <div class="destination-details-input-box">
                                <input type="checkbox" placeholder="Free breakfast" />
                                <label for="">Free breakfast</label></div>
                                 <div class="destination-details-input-box">
                                <input type="checkbox" placeholder="Free parking" />
                                <label for="">Free parking</label></div>
                                 <div class="destination-details-input-box">
                                <input type="checkbox" placeholder="Free pillow" />
                                <label for="">Free pillow</label></div>
                            </div>

                            <div class="price">
                                <p>Total Payment</p>
                                <p>$102</p>
                            </div>
                            <button class="btn destination-details-aside-btn">Book Now</button>
                        </form>
                        <p class="destination-details-info">You will not get charge yet</p>
                    </div>

                </div>
            </section>
            <section class="tending-destination">
                <div class="container tending-container">
                    <p class="sub-heading">Tending-destination</p>
                    <h2 class="tending-destination-title">The most searched for cities <br>
on Tourice</h2>
                    
                    <ul class="tending-destination-list">
                        {{#each destinations}}
                        <li class="tending-destination-item">
                            <img class="tending-destination-image" src="{{imageUrl}}" alt="{{title}}">
                            <div class="tending-destination-content">
                                <h2> {{title}} </h2>
                                <p>
                                    <ion-icon name="star"></ion-icon>
                                    <span> {{rating}} </span>
                                    ({{reviws}} reviews)
                                </p>
                                <ul class="tendind-destination-actions">
                                    <li class="tending-destination-actions-list">
                                        <p class="tending-destination-action-price">
                                            $ {{price}} <span>/Person</span>
                                        </p>
                                        <button class="btn btn-book">Book Trip</button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {{/each}}
                       
                    </ul>
                </div>
               
                
            </section>
